# Ignorer alle virtuelle miljø
venv/
ElectroMart/backend/venv/
ElectroMart/frontend/venv/
electromart-node/node_modules/
electromart-frontend/node_modules/
.DS_Store

# Ignorer Python cache
__pycache__/
*.pyc

