.product-list {
    margin-left: 15em;
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    width: 12em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
    /* flex: 3; */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
}